@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap&subset=cyrillic');

body {
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Montserrat";
  background-color: #d6d6d6;
}



.page-header  {
  text-align: center;
  color: #fffccf;
  background-color: #fffccf;
}


.pub-date{
  font-family: 'Lobster';
}

.text-post{
  font-family: 'Marck Script';
  font-size: 30px;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
